[Unit]
Description=Native ESOC mdm_helper replacement
DefaultDependencies=no
After=local-fs.target sysinit.target sys-kernel-debug.mount
Before=basic.target
Wants=sys-kernel-debug.mount
Conflicts=shutdown.target reboot.target halt.target kexec.target poweroff.target
Before=shutdown.target reboot.target halt.target kexec.target poweroff.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mdm_helper_native --startup-timeout-ms 0 --boot-done --poll-ms 1000
Restart=always
RestartSec=1
TimeoutStopSec=5
KillMode=mixed
SendSIGKILL=yes

[Install]
WantedBy=sysinit.target
